body{
    color: #e0fff8;
background-image:url(https://w.forfun.com/fetch/9e/9e83f443d3ae91e20e165a5e0db7bebf.jpeg) ;
background-repeat: no-repeat;
background-size: cover;


}

p {
    font: italic bold 30px/45px Georgia, serif;
}